<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OwlMovie</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mt.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.mt.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TagServlet</servlet-name>
    <servlet-class>com.mt.servlet.TagServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailsServlet</servlet-name>
    <servlet-class>com.mt.servlet.DetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>com.mt.servlet.InformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfocenterServlet</servlet-name>
    <servlet-class>com.mt.servlet.InfocenterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CenterServlet</servlet-name>
    <servlet-class>com.mt.servlet.CenterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchMovieServlet</servlet-name>
    <servlet-class>com.mt.servlet.SearchMovieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchSeriesServlet</servlet-name>
    <servlet-class>com.mt.servlet.SearchSeriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchMovieListServlet</servlet-name>
    <servlet-class>com.mt.servlet.SearchMovieListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchFilmReviewServlet</servlet-name>
    <servlet-class>com.mt.servlet.SearchFilmReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.mt.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.mt.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>com.mt.upload.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.mt.servlet.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackendUserServlet</servlet-name>
    <servlet-class>com.mt.servlet.BackendUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackendMovieServlet</servlet-name>
    <servlet-class>com.mt.servlet.BackendMovieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackendMovieListServlet</servlet-name>
    <servlet-class>com.mt.servlet.BackendMovieListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackendCommentServlet</servlet-name>
    <servlet-class>com.mt.servlet.BackendCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackendFilmReviewServlet</servlet-name>
    <servlet-class>com.mt.servlet.BackendFilmReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackendSeriesServlet</servlet-name>
    <servlet-class>com.mt.servlet.BackendSeriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/TagServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailsServlet</servlet-name>
    <url-pattern>/DetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/InformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfocenterServlet</servlet-name>
    <url-pattern>/CenterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CenterServlet</servlet-name>
    <url-pattern>/CenterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchMovieServlet</servlet-name>
    <url-pattern>/SearchMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchSeriesServlet</servlet-name>
    <url-pattern>/SearchSeriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchMovieListServlet</servlet-name>
    <url-pattern>/SearchMovieListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchFilmReviewServlet</servlet-name>
    <url-pattern>/SearchFilmReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/UploadHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackendUserServlet</servlet-name>
    <url-pattern>/BackendUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackendMovieServlet</servlet-name>
    <url-pattern>/BackendMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackendMovieListServlet</servlet-name>
    <url-pattern>/BackendMovieListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackendCommentServlet</servlet-name>
    <url-pattern>/BackendCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackendFilmReviewServlet</servlet-name>
    <url-pattern>/BackendFilmReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackendSeriesServlet</servlet-name>
    <url-pattern>/BackendSeriesServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>